<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         colors="true"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">
    <testsuites>
        <testsuite name="default">
            <directory suffix="Test.php" phpVersion="5.6.0" phpVersionOperator=">=">tests</directory>
        </testsuite>
    </testsuites>
    <php>
         <ini name="display_errors" value="true"/>
    </php>
</phpunit>